## SNOTEL

In [21]:
import json
import requests
import pandas as pd
import geopandas as gpd
from sedona.spark import *

## Sedona Setup

In [23]:
config = SedonaContext.builder().\
      getOrCreate()

sedona = SedonaContext.create(config)

Warning: Ignoring non-Spark config property: fs.s3a.aws.credentials.provider
24/03/27 16:31:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/27 16:31:41 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties
24/03/27 16:31:42 WARN S3ABlockOutputStream: Application invoked the Syncable API against stream writing to qjnq6fcbf1/spark-logs/spark-17b4e4ae18c64495b4f050527cf5aeac.inprogress. This is unsupported
24/03/27 16:32:06 WARN SedonaContext: Python files are not set. Sedona will not pre-load Python UDFs.

## SNOTEL Rest API

In [4]:
baseurl = "https://wcc.sc.egov.usda.gov/awdbRestApi/"

## Stations

parameters

In [5]:
payload = {
    'activeOnly': True,
    'returnStationElements': False
}

In [6]:
r = requests.get(baseurl + 'services/v1/stations', params=payload)

In [13]:
stations = r.json()

In [14]:
len(stations)

4363

In [16]:
df = pd.DataFrame(stations)

In [19]:
gdf = gpd.GeoDataFrame(df, crs="EPSG:4326", geometry=gpd.points_from_xy(df.longitude, df.latitude))

In [20]:
gdf

,stationTriplet,stationId,stateCode,networkCode,name,dcoCode,countyName,huc,elevation,latitude,longitude,dataTimeZone,pedonCode,shefId,beginDate,endDate,geometry
0,2057:AL:SCAN,2057,AL,SCAN,AAMU-JTG,GC,Madison,060300020403,860.0,34.78333,-86.55000,-6.0,27979,AAMA1,2002-02-23 00:00:00.0,2100-01-01 00:00:00.0,POINT (-86.55000 34.78333)
1,ABY:CA:SNOW,ABY,CA,SNOW,Abbey,UN,Plumas,180201220103,5650.0,39.95500,-120.53800,NaN,NaN,NaN,1963-02-01 00:00:00.0,2100-01-01 00:00:00.0,POINT (-120.53800 39.95500)
2,0010:ID:COOP,0010,ID,COOP,Aberdeen Experimnt Stn,ID,Bingham,170402060704,4410.0,42.95000,-112.83333,NaN,NaN,ABDI1,1914-01-01 00:00:00.0,2100-01-01 00:00:00.0,POINT (-112.83333 42.95000)
3,1F01A:BC:SNOW,1F01A,BC,SNOW,Aberdeen Lake,OR,UNKNOWN,NaN,4298.0,50.14733,-119.05340,NaN,NaN,ABLQ2,1939-04-01 00:00:00.0,2100-01-01 00:00:00.0,POINT (-119.05340 50.14733)
4,0041:NM:COOP,0041,NM,COOP,Abiquiu Dam,UN,Rio Arriba,130201021005,6380.0,36.23333,-106.43333,NaN,NaN,ABIN5,1957-01-01 00:00:00.0,2100-01-01 00:00:00.0,POINT (-106.43333 36.23333)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4358,YBP:CA:SNOW,YBP,CA,SNOW,Yuba Pass,UN,Sierra,180201250202,6700.0,39.61700,-120.49200,NaN,NaN,NaN,1937-03-01 00:00:00.0,2100-01-01 00:00:00.0,POINT (-120.49200 39.61700)
4359,15356000:AK:USGS,15356000,AK,USGS,Yukon R at Eagle,AK,Southeast Fairbanks,190705051301,850.0,64.78917,-141.20009,NaN,NaN,NaN,1950-01-01 00:00:00.0,2100-01-01 00:00:00.0,POINT (-141.20009 64.78917)
4360,15453500:AK:USGS,15453500,AK,USGS,Yukon R nr Stevens Village,AK,Yukon-Koyukuk,190804040504,240.0,65.87510,-149.72035,NaN,NaN,NaN,1976-10-01 00:00:00.0,2100-01-01 00:00:00.0,POINT (-149.72035 65.87510)
4361,1033:CO:SNTL,1033,CO,SNTL,Zirkel,CO,Jackson,101800010202,9338.0,40.79492,-106.59544,-8.0,NaN,ZIRC2,2002-08-14 00:00:00.0,2100-01-01 00:00:00.0,POINT (-106.59544 40.79492)
4362,09386950:NM:USGS,09386950,NM,USGS,Zuni R ab Black Rock Reservoir,CO,McKinley,150200040313,6480.0,35.10028,-108.75167,NaN,NaN,NaN,1969-10-01 00:00:00.0,2100-01-01 00:00:00.0,POINT (-108.75167 35.10028)

In [31]:
station_df = sedona.createDataFrame(gdf)
station_df.createOrReplaceTempView('stations')

In [26]:
station_df.printSchema()

root
 |-- stationTriplet: string (nullable = true)
 |-- stationId: string (nullable = true)
 |-- stateCode: string (nullable = true)
 |-- networkCode: string (nullable = true)
 |-- name: string (nullable = true)
 |-- dcoCode: string (nullable = true)
 |-- countyName: string (nullable = true)
 |-- huc: string (nullable = true)
 |-- elevation: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- dataTimeZone: double (nullable = true)
 |-- pedonCode: string (nullable = true)
 |-- shefId: string (nullable = true)
 |-- beginDate: string (nullable = true)
 |-- endDate: string (nullable = true)
 |-- geometry: geometry (nullable = true)

In [25]:
station_df.show()

+---------------+---------+---------+-----------+--------------------+-------+------------+------------+---------+--------+----------+------------+---------+------+--------------------+--------------------+--------------------+
| stationTriplet|stationId|stateCode|networkCode|                name|dcoCode|  countyName|         huc|elevation|latitude| longitude|dataTimeZone|pedonCode|shefId|           beginDate|             endDate|            geometry|
+---------------+---------+---------+-----------+--------------------+-------+------------+------------+---------+--------+----------+------------+---------+------+--------------------+--------------------+--------------------+
|   2057:AL:SCAN|     2057|       AL|       SCAN|            AAMU-JTG|     GC|     Madison|060300020403|    860.0|34.78333|    -86.55|        -6.0|    27979| AAMA1|2002-02-23 00:00:...|2100-01-01 00:00:...|POINT (-86.55 34....|
|    ABY:CA:SNOW|      ABY|       CA|       SNOW|               Abbey|     UN|      Plumas|180201220103|   5650.0|  39.955|  -120.538|         NaN|      NaN|   NaN|1963-02-01 00:00:...|2100-01-01 00:00:...|POINT (-120.538 3...|
|   0010:ID:COOP|     0010|       ID|       COOP|Aberdeen Experimn...|     ID|     Bingham|170402060704|   4410.0|   42.95|-112.83333|         NaN|      NaN| ABDI1|1914-01-01 00:00:...|2100-01-01 00:00:...|POINT (-112.83333...|
|  1F01A:BC:SNOW|    1F01A|       BC|       SNOW|       Aberdeen Lake|     OR|     UNKNOWN|         NaN|   4298.0|50.14733| -119.0534|         NaN|      NaN| ABLQ2|1939-04-01 00:00:...|2100-01-01 00:00:...|POINT (-119.0534 ...|
|   0041:NM:COOP|     0041|       NM|       COOP|         Abiquiu Dam|     UN|  Rio Arriba|130201021005|   6380.0|36.23333|-106.43333|         NaN|      NaN| ABIN5|1957-01-01 00:00:...|2100-01-01 00:00:...|POINT (-106.43333...|
|08108010:NM:BOR| 08108010|       NM|        BOR|   Abiquiu Reservoir|     CO|  Rio Arriba|130201021006|   6180.0|  36.237|-106.42912|         NaN|      NaN|   NaN|1964-09-01 00:00:...|2100-01-01 00:00:...|POINT (-106.42912...|
|  13E19:ID:SNOW|    13E19|       ID|       SNOW|       Above Gilmore|     ID|       Lemhi|170602040101|   8289.0|44.45615|-113.30097|         NaN|      NaN| ABGI1|1961-01-01 00:00:...|2100-01-01 00:00:...|POINT (-113.30097...|
|  15B07:ID:SNOW|    15B07|       ID|       SNOW|        Above Roland|     ID|    Shoshone|170103040201|   4347.0|47.38507|-115.66405|         NaN|      NaN| ABRI1|1926-03-01 00:00:...|2100-01-01 00:00:...|POINT (-115.66405...|
|   2092:KS:SCAN|     2092|       KS|       SCAN|              Abrams|     GC|      Cowley|110300130307|   1194.0| 37.1313|  -97.0859|        -6.0|    31337| ABRK1|2004-06-21 00:00:...|2100-01-01 00:00:...|POINT (-97.0859 3...|
|06110500:MT:BOR| 06110500|       MT|        BOR|         Ackley Lake|     MT|Judith Basin|100401030202|   4300.0|46.95741|-109.94062|         NaN|      NaN|   NaN|1938-06-01 00:00:...|2100-01-01 00:00:...|POINT (-109.94062...|
|   2015:NM:SCAN|     2015|       NM|       SCAN|      Adams Ranch #1|     GC|     Lincoln|130600060201|   6175.0|   34.25|-105.41667|        -7.0|    19304| ADRN5|1993-10-25 00:00:...|2100-01-01 00:00:...|POINT (-105.41667...|
|  20H08:CA:SNOW|    20H08|       CA|       SNOW|      Adin Mountains|     OR|       Modoc|180200021403|   6190.0|41.23483|-120.79467|         NaN|      NaN| ADMC1|1930-04-01 00:00:...|2100-01-01 00:00:...|POINT (-120.79467...|
|    301:CA:SNTL|      301|       CA|       SNTL|            Adin Mtn|     OR|       Modoc|180200021403|   6190.0|41.23583|-120.79192|        -8.0|      NaN| ADMC1|1983-10-01 00:00:...|2100-01-01 00:00:...|POINT (-120.79192...|
|   2235:CA:SCAN|     2235|       CA|       SCAN|               Adobe|     GC|        Mono|180901010607|   6500.0|37.97787|-118.68626|        -8.0|      NaN|   NaN|2023-09-27 00:00:...|2100-01-01 00:00:...|POINT (-118.68626...|
|07007010:CO:BOR| 07007010|       CO|        BOR|Adobe Creek Reser...|     CO|       Kiowa|110200090303|   4150.0|38.26609|-103.24373|         NaN|      NaN|   NaN|1949-11-01 00:00:...|2100-01-01 00:00:...|POINT (-103.24373...|
|   0027:WY:COOP|     0027|       WY|       COOP|               Afton|     MT|     Lincoln|170401050205|   6210.0|42.73333|-110.93333|         NaN|      NaN| AFOW4|1909-10-01 00:00:...|2100-01-01 00:00:...|POINT (-110.93333...|
| 516700:MT:USGS|   516700|       MT|       USGS|Agency Crk ab Joc...|     MT|    Missoula|170102120705|   3725.0|47.12579| -113.9974|         NaN|      NaN|   NaN|1999-10-01 00:00:...|2100-01-01 00:00:...|POINT (-113.9974 ...|
|    AGP:CA:MSNT|      AGP|       CA|       MSNT|          Agnew Pass|     GC|      Madera|180400060401|   9450.0|  37.724|  -119.143|         NaN|      NaN|   NaN|1989-11-24 00:00:...|2100-01-01 00:00:...|POINT (-119.143 3...|
|    AGP:CA:SNOW|      AGP|       CA|       SNOW|          Agnew Pass|     UN|      Madera|180400060401|   9450.0|  37.724|  -119.143|         NaN|      NaN|   NaN|1930-04-01 00:00:...|2100-01-01 00:00:...|POINT (-119.143 3...|
|    907:UT:SNTL|      907|       UT|       SNTL|         Agua Canyon|     UT|        Kane|160300020301|   8900.0|37.52217|-112.27118|        -8.0|      NaN| AGUU1|1994-10-01 00:00:...|2100-01-01 00:00:...|POINT (-112.27118...|
+---------------+---------+---------+-----------+--------------------+-------+------------+------------+---------+--------+----------+------------+---------+------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [32]:
sedona.sql("SELECT COUNT(*) FROM stations WHERE networkCode = 'SNTL'").show()

+--------+
|count(1)|
+--------+
|     899|
+--------+

## Data

parameters

* `beginDate` - yyyy-MM-dd HH:mm
* `centralTendencyType` - MEDIAN
* `duration` - DAILY
* `elements` - PREC, WTEQ, SMS:*, PREC::2
* `endDate` - yyyy-MM-dd HH:mm
* `stationTriplets` - *:*:*

In [58]:
payload = {
    'beginDate': '2024-03-26',
    'endDate': '2024-03-26',
    'centralTendencyType': 'MEDIAN',
    'duration': 'DAILY',
    'elements': 'WTEQ',
    'stationTriplets': '*:WA:SNTL'
}

In [59]:
r = requests.get(baseurl + 'services/v1/data', params=payload)

In [61]:
data = r.json()

In [62]:
df = pd.DataFrame(data)

In [63]:
df

   stationTriplet                                               data
0     908:WA:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
1     990:WA:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
2     352:WA:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
3    1080:WA:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
4    1107:WA:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
..            ...                                                ...
70    832:WA:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
71    841:WA:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
72    974:WA:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
73    909:WA:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
74    863:WA:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...

[75 rows x 2 columns]

In [73]:
data_list = [ (station['stationTriplet'], station['data'][0]['values'][0]['value'], station['data'][0]['values'][0].get('median'), station['data'][0]['values'][0]['date']) for station in data ]

In [76]:
df = pd.DataFrame(data_list, columns=['station', 'value', 'median', 'date'])

In [77]:
df

         station  value  median        date
0    908:WA:SNTL   34.1    49.2  2024-03-26
1    990:WA:SNTL   26.0    42.4  2024-03-26
2    352:WA:SNTL    8.1    13.0  2024-03-26
3   1080:WA:SNTL   33.2    62.8  2024-03-26
4   1107:WA:SNTL   32.2    56.4  2024-03-26
..           ...    ...     ...         ...
70   832:WA:SNTL   11.4    10.3  2024-03-26
71   841:WA:SNTL   10.1    11.2  2024-03-26
72   974:WA:SNTL   21.6    39.6  2024-03-26
73   909:WA:SNTL   21.8    33.6  2024-03-26
74   863:WA:SNTL   22.2    21.5  2024-03-26

[75 rows x 4 columns]

In [78]:
data_df = sedona.createDataFrame(df)

In [79]:
data_df.show()

+------------+-----+------+----------+
|     station|value|median|      date|
+------------+-----+------+----------+
| 908:WA:SNTL| 34.1|  49.2|2024-03-26|
| 990:WA:SNTL| 26.0|  42.4|2024-03-26|
| 352:WA:SNTL|  8.1|  13.0|2024-03-26|
|1080:WA:SNTL| 33.2|  62.8|2024-03-26|
|1107:WA:SNTL| 32.2|  56.4|2024-03-26|
| 375:WA:SNTL| 21.0|  26.0|2024-03-26|
| 376:WA:SNTL| 21.1|  26.4|2024-03-26|
| 942:WA:SNTL|  6.3|  17.6|2024-03-26|
|1109:WA:SNTL|  0.1|   1.2|2024-03-26|
|1085:WA:SNTL| 35.7|  59.6|2024-03-26|
| 418:WA:SNTL| 25.0|  34.1|2024-03-26|
| 420:WA:SNTL|  0.0|  13.0|2024-03-26|
| 943:WA:SNTL|  2.2|   8.6|2024-03-26|
| 998:WA:SNTL| 62.2|  91.9|2024-03-26|
| 910:WA:SNTL| 13.3|  37.7|2024-03-26|
| 478:WA:SNTL| 20.9|  28.6|2024-03-26|
|1159:WA:SNTL|  5.8|  10.1|2024-03-26|
|1256:WA:SNTL|  2.9|   NaN|2024-03-26|
| 502:WA:SNTL| 21.3|  23.2|2024-03-26|
| 507:WA:SNTL| 13.6|  18.8|2024-03-26|
+------------+-----+------+----------+
only showing top 20 rows

In [80]:
data_df.createOrReplaceTempView('snotel_data')

In [85]:
## Join Daily Observations 


snotel_data_df = sedona.sql("""
SELECT *, (value / median) AS pct_median
FROM stations
JOIN snotel_data 
WHERE snotel_data.station = stations.stationTriplet
""")

In [86]:
snotel_data_df.count()

75

In [89]:
snotel_data_df.show()

+--------------+---------+---------+-----------+-----------------+-------+----------+------------+---------+--------+----------+------------+---------+------+--------------------+--------------------+--------------------+------------+-----+------+----------+------------------+
|stationTriplet|stationId|stateCode|networkCode|             name|dcoCode|countyName|         huc|elevation|latitude| longitude|dataTimeZone|pedonCode|shefId|           beginDate|             endDate|            geometry|     station|value|median|      date|        pct_median|
+--------------+---------+---------+-----------+-----------------+-------+----------+------------+---------+--------+----------+------------+---------+------+--------------------+--------------------+--------------------+------------+-----+------+----------+------------------+
|   553:WA:SNTL|      553|       WA|       SNTL|        June Lake|     OR|  Skamania|170800020304|   3440.0|46.14778|-122.15413|        -8.0|      NaN| MRBW1|1980-10-01 00:00:...|2100-01-01 00:00:...|POINT (-122.15413...| 553:WA:SNTL| 35.3|  39.2|2024-03-26|0.9005102040816325|
|   507:WA:SNTL|      507|       WA|       SNTL|      Grouse Camp|     OR|  Kittitas|170300010401|   5390.0|47.28107|-120.48771|        -8.0|    32032| GRCW1|1979-10-01 00:00:...|2100-01-01 00:00:...|POINT (-120.48771...| 507:WA:SNTL| 13.6|  18.8|2024-03-26|0.7234042553191489|
|   928:WA:SNTL|      928|       WA|       SNTL|Huckleberry Creek|     OR|    Pierce|171100140307|   2250.0|47.06565|-121.58778|        -8.0|      NaN| HKSW1|1997-10-01 00:00:...|2100-01-01 00:00:...|POINT (-121.58778...| 928:WA:SNTL|  0.0|   0.0|2024-03-26|              null|
|   502:WA:SNTL|      502|       WA|       SNTL|       Green Lake|     OR|    Yakima|170300030101|   5920.0|46.54741|-121.17093|        -8.0|    18458| GRLW1|1981-10-01 00:00:...|2100-01-01 00:00:...|POINT (-121.17093...| 502:WA:SNTL| 21.3|  23.2|2024-03-26|0.9181034482758621|
|   515:WA:SNTL|      515|       WA|       SNTL|       Harts Pass|     OR|  Okanogan|171100050501|   6490.0|48.72047| -120.6586|        -8.0|    30552| HRPW1|1979-10-01 00:00:...|2100-01-01 00:00:...|POINT (-120.6586 ...| 515:WA:SNTL| 31.5|  43.5|2024-03-26|0.7241379310344828|
|  1129:WA:SNTL|     1129|       WA|       SNTL|      Indian Rock|     OR| Klickitat|170701060301|   5360.0|45.99077|-120.80767|        -8.0|      NaN| IRKW1|2008-10-01 00:00:...|2100-01-01 00:00:...|POINT (-120.80767...|1129:WA:SNTL|  8.2|  26.8|2024-03-26|0.3059701492537313|
|   804:WA:SNTL|      804|       WA|       SNTL|   Surprise Lakes|     OR|  Skamania|170800020107|   4290.0|46.09497|-121.76345|        -8.0|      NaN| SPLW1|1978-10-01 00:00:...|2100-01-01 00:00:...|POINT (-121.76345...| 804:WA:SNTL| 37.0|  46.6|2024-03-26|0.7939914163090128|
|   788:WA:SNTL|      788|       WA|       SNTL|    Stampede Pass|     OR|      King|171100130103|   3850.0|47.27427|-121.34162|        -8.0|      NaN| SMPW1|1979-10-01 00:00:...|2100-01-01 00:00:...|POINT (-121.34162...| 788:WA:SNTL| 22.2|  36.0|2024-03-26|0.6166666666666667|
|  1012:WA:SNTL|     1012|       WA|       SNTL|      Swift Creek|     OR|  Skamania|170800020304|   4440.0| 46.1638|-122.18402|        -8.0|      NaN| SWCW1|2001-10-01 00:00:...|2100-01-01 00:00:...|POINT (-122.18402...|1012:WA:SNTL| 63.8|  66.4|2024-03-26|0.9608433734939757|
|   791:WA:SNTL|      791|       WA|       SNTL|     Stevens Pass|     OR|      King|171100090102|   3950.0|47.74607|-121.09288|        -8.0|      NaN| SVNW1|1979-10-01 00:00:...|2100-01-01 00:00:...|POINT (-121.09288...| 791:WA:SNTL| 29.8|  35.7|2024-03-26|0.8347338935574229|
|   975:WA:SNTL|      975|       WA|       SNTL|      Swamp Creek|     OR|    Skagit|171100050503|   3930.0|48.57142|-120.78267|        -8.0|      NaN| SWSW1|1999-10-01 00:00:...|2100-01-01 00:00:...|POINT (-120.78267...| 975:WA:SNTL|  6.3|  18.0|2024-03-26|              0.35|
|   984:WA:SNTL|      984|       WA|       SNTL|   Spruce Springs|     OR|  Garfield|170601030201|   5700.0|46.18287|-117.54155|        -8.0|      NaN| SPGW1|2000-07-01 00:00:...|2100-01-01 00:00:...|POINT (-117.54155...| 984:WA:SNTL|  8.9|  12.8|2024-03-26|         0.6953125|
|   974:WA:SNTL|      974|       WA|       SNTL|        Waterhole|     OR|   Clallam|171100200506|   5010.0|47.94485|-123.42594|        -8.0|      NaN| WHSW1|1999-09-30 00:00:...|2100-01-01 00:00:...|POINT (-123.42594...| 974:WA:SNTL| 21.6|  39.6|2024-03-26|0.5454545454545455|
|   909:WA:SNTL|      909|       WA|       SNTL|      Wells Creek|     OR|   Whatcom|171100040103|   4030.0| 48.8661|-121.78976|        -8.0|      NaN| WCSW1|1995-08-24 00:00:...|2100-01-01 00:00:...|POINT (-121.78976...| 909:WA:SNTL| 21.8|  33.6|2024-03-26|0.6488095238095238|
|   899:WA:SNTL|      899|       WA|       SNTL|    Tinkham Creek|     OR|      King|171100120101|   2990.0|47.33198|-121.46975|        -8.0|      NaN| TKSW1|1993-10-01 00:00:...|2100-01-01 00:00:...|POINT (-121.46975...| 899:WA:SNTL| 14.9|  26.2|2024-03-26|0.5687022900763359|
|   863:WA:SNTL|      863|       WA|       SNTL|  White Pass E.S.|     OR|    Yakima|170300020301|   4440.0|46.64142|-121.38153|        -8.0|      NaN| WHPW1|1979-10-01 00:00:...|2100-01-01 00:00:...|POINT (-121.38153...| 863:WA:SNTL| 22.2|  21.5|2024-03-26|1.0325581395348837|
|   824:WA:SNTL|      824|       WA|       SNTL|          Touchet|     OR|  Columbia|170701020303|   5530.0|46.11868| -117.8505|        -8.0|    30395| TOHW1|1979-10-01 00:00:...|2100-01-01 00:00:...|POINT (-117.8505 ...| 824:WA:SNTL| 21.7|  27.6|2024-03-26| 0.786231884057971|
|   817:WA:SNTL|      817|       WA|       SNTL|    Thunder Basin|     OR|    Skagit|171100050702|   4320.0|48.52753| -120.9895|        -8.0|      NaN| THBW1|1987-09-30 00:00:...|2100-01-01 00:00:...|POINT (-120.9895 ...| 817:WA:SNTL| 22.7|  29.7|2024-03-26|0.7643097643097643|
|   832:WA:SNTL|      832|       WA|       SNTL|           Trough|     OR|  Kittitas|170200100402|   5480.0|47.23328|-120.29412|        -8.0|    32031| TRGW1|1978-10-01 00:00:...|2100-01-01 00:00:...|POINT (-120.29412...| 832:WA:SNTL| 11.4|  10.3|2024-03-26|1.1067961165048543|
|   841:WA:SNTL|      841|       WA|       SNTL|    Upper Wheeler|     OR|    Chelan|170200100310|   4330.0|47.28734|-120.37015|        -8.0|      NaN| UPWW1|1979-10-01 00:00:...|2100-01-01 00:00:...|POINT (-120.37015...| 841:WA:SNTL| 10.1|  11.2|2024-03-26|0.9017857142857143|
+--------------+---------+---------+-----------+-----------------+-------+----------+------------+---------+--------+----------+------------+---------+------+--------------------+--------------------+--------------------+------------+-----+------+----------+------------------+
only showing top 20 rows

In [87]:
SedonaKepler.create_map(snotel_data_df)

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

/opt/conda/lib/python3.10/site-packages/jupyter_client/session.py:719: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

KeplerGl(data={'unnamed': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,…

## Watershed - Spatial Join

In [ ]:
# TODO: load geojson, spatial join, calculate