## SNOTEL

In [60]:
import os
import json
import requests
import pandas as pd
import geopandas as gpd
from sedona.spark import *
from pyspark.sql.functions import expr
from datetime import datetime, timedelta

## Sedona Setup

In [2]:
config = SedonaContext.builder().\
    config("spark.hadoop.fs.s3a.bucket.wherobots-examples.aws.credentials.provider","org.apache.hadoop.fs.s3a.AnonymousAWSCredentialsProvider"). \
    getOrCreate()

sedona = SedonaContext.create(config)

Warning: Ignoring non-Spark config property: fs.s3a.aws.credentials.provider
24/03/29 17:53:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/29 17:53:48 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties
24/03/29 17:53:49 WARN S3ABlockOutputStream: Application invoked the Syncable API against stream writing to qjnq6fcbf1/spark-logs/spark-da58c7e12a0d4bc7a977490f65f4416c.inprogress. This is unsupported
24/03/29 17:54:13 WARN SedonaContext: Python files are not set. Sedona will not pre-load Python UDFs.

## SNOTEL Rest API

In [3]:
baseurl = "https://wcc.sc.egov.usda.gov/awdbRestApi/"

## Stations

parameters

In [4]:
payload = {
    'activeOnly': True,
    'returnStationElements': False
}

In [5]:
r = requests.get(baseurl + 'services/v1/stations', params=payload)

In [6]:
stations = r.json()

In [7]:
len(stations)

4363

In [8]:
df = pd.DataFrame(stations)

In [9]:
gdf = gpd.GeoDataFrame(df, crs="EPSG:4326", geometry=gpd.points_from_xy(df.longitude, df.latitude))

In [10]:
gdf

,stationTriplet,stationId,stateCode,networkCode,name,dcoCode,countyName,huc,elevation,latitude,longitude,dataTimeZone,pedonCode,shefId,beginDate,endDate,geometry
0,2057:AL:SCAN,2057,AL,SCAN,AAMU-JTG,GC,Madison,060300020403,860.0,34.78333,-86.55000,-6.0,27979,AAMA1,2002-02-23 00:00:00.0,2100-01-01 00:00:00.0,POINT (-86.55000 34.78333)
1,ABY:CA:SNOW,ABY,CA,SNOW,Abbey,UN,Plumas,180201220103,5650.0,39.95500,-120.53800,NaN,NaN,NaN,1963-02-01 00:00:00.0,2100-01-01 00:00:00.0,POINT (-120.53800 39.95500)
2,0010:ID:COOP,0010,ID,COOP,Aberdeen Experimnt Stn,ID,Bingham,170402060704,4410.0,42.95000,-112.83333,NaN,NaN,ABDI1,1914-01-01 00:00:00.0,2100-01-01 00:00:00.0,POINT (-112.83333 42.95000)
3,1F01A:BC:SNOW,1F01A,BC,SNOW,Aberdeen Lake,OR,UNKNOWN,NaN,4298.0,50.14733,-119.05340,NaN,NaN,ABLQ2,1939-04-01 00:00:00.0,2100-01-01 00:00:00.0,POINT (-119.05340 50.14733)
4,0041:NM:COOP,0041,NM,COOP,Abiquiu Dam,UN,Rio Arriba,130201021005,6380.0,36.23333,-106.43333,NaN,NaN,ABIN5,1957-01-01 00:00:00.0,2100-01-01 00:00:00.0,POINT (-106.43333 36.23333)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4358,YBP:CA:SNOW,YBP,CA,SNOW,Yuba Pass,UN,Sierra,180201250202,6700.0,39.61700,-120.49200,NaN,NaN,NaN,1937-03-01 00:00:00.0,2100-01-01 00:00:00.0,POINT (-120.49200 39.61700)
4359,15356000:AK:USGS,15356000,AK,USGS,Yukon R at Eagle,AK,Southeast Fairbanks,190705051301,850.0,64.78917,-141.20009,NaN,NaN,NaN,1950-01-01 00:00:00.0,2100-01-01 00:00:00.0,POINT (-141.20009 64.78917)
4360,15453500:AK:USGS,15453500,AK,USGS,Yukon R nr Stevens Village,AK,Yukon-Koyukuk,190804040504,240.0,65.87510,-149.72035,NaN,NaN,NaN,1976-10-01 00:00:00.0,2100-01-01 00:00:00.0,POINT (-149.72035 65.87510)
4361,1033:CO:SNTL,1033,CO,SNTL,Zirkel,CO,Jackson,101800010202,9338.0,40.79492,-106.59544,-8.0,NaN,ZIRC2,2002-08-14 00:00:00.0,2100-01-01 00:00:00.0,POINT (-106.59544 40.79492)
4362,09386950:NM:USGS,09386950,NM,USGS,Zuni R ab Black Rock Reservoir,CO,McKinley,150200040313,6480.0,35.10028,-108.75167,NaN,NaN,NaN,1969-10-01 00:00:00.0,2100-01-01 00:00:00.0,POINT (-108.75167 35.10028)

In [11]:
station_df = sedona.createDataFrame(gdf)
station_df.createOrReplaceTempView('stations')

In [12]:
station_df.printSchema()

root
 |-- stationTriplet: string (nullable = true)
 |-- stationId: string (nullable = true)
 |-- stateCode: string (nullable = true)
 |-- networkCode: string (nullable = true)
 |-- name: string (nullable = true)
 |-- dcoCode: string (nullable = true)
 |-- countyName: string (nullable = true)
 |-- huc: string (nullable = true)
 |-- elevation: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- dataTimeZone: double (nullable = true)
 |-- pedonCode: string (nullable = true)
 |-- shefId: string (nullable = true)
 |-- beginDate: string (nullable = true)
 |-- endDate: string (nullable = true)
 |-- geometry: geometry (nullable = true)

In [13]:
station_df.show()

+---------------+---------+---------+-----------+--------------------+-------+------------+------------+---------+--------+----------+------------+---------+------+--------------------+--------------------+--------------------+
| stationTriplet|stationId|stateCode|networkCode|                name|dcoCode|  countyName|         huc|elevation|latitude| longitude|dataTimeZone|pedonCode|shefId|           beginDate|             endDate|            geometry|
+---------------+---------+---------+-----------+--------------------+-------+------------+------------+---------+--------+----------+------------+---------+------+--------------------+--------------------+--------------------+
|   2057:AL:SCAN|     2057|       AL|       SCAN|            AAMU-JTG|     GC|     Madison|060300020403|    860.0|34.78333|    -86.55|        -6.0|    27979| AAMA1|2002-02-23 00:00:...|2100-01-01 00:00:...|POINT (-86.55 34....|
|    ABY:CA:SNOW|      ABY|       CA|       SNOW|               Abbey|     UN|      Plumas|180201220103|   5650.0|  39.955|  -120.538|         NaN|      NaN|   NaN|1963-02-01 00:00:...|2100-01-01 00:00:...|POINT (-120.538 3...|
|   0010:ID:COOP|     0010|       ID|       COOP|Aberdeen Experimn...|     ID|     Bingham|170402060704|   4410.0|   42.95|-112.83333|         NaN|      NaN| ABDI1|1914-01-01 00:00:...|2100-01-01 00:00:...|POINT (-112.83333...|
|  1F01A:BC:SNOW|    1F01A|       BC|       SNOW|       Aberdeen Lake|     OR|     UNKNOWN|         NaN|   4298.0|50.14733| -119.0534|         NaN|      NaN| ABLQ2|1939-04-01 00:00:...|2100-01-01 00:00:...|POINT (-119.0534 ...|
|   0041:NM:COOP|     0041|       NM|       COOP|         Abiquiu Dam|     UN|  Rio Arriba|130201021005|   6380.0|36.23333|-106.43333|         NaN|      NaN| ABIN5|1957-01-01 00:00:...|2100-01-01 00:00:...|POINT (-106.43333...|
|08108010:NM:BOR| 08108010|       NM|        BOR|   Abiquiu Reservoir|     CO|  Rio Arriba|130201021006|   6180.0|  36.237|-106.42912|         NaN|      NaN|   NaN|1964-09-01 00:00:...|2100-01-01 00:00:...|POINT (-106.42912...|
|  13E19:ID:SNOW|    13E19|       ID|       SNOW|       Above Gilmore|     ID|       Lemhi|170602040101|   8289.0|44.45615|-113.30097|         NaN|      NaN| ABGI1|1961-01-01 00:00:...|2100-01-01 00:00:...|POINT (-113.30097...|
|  15B07:ID:SNOW|    15B07|       ID|       SNOW|        Above Roland|     ID|    Shoshone|170103040201|   4347.0|47.38507|-115.66405|         NaN|      NaN| ABRI1|1926-03-01 00:00:...|2100-01-01 00:00:...|POINT (-115.66405...|
|   2092:KS:SCAN|     2092|       KS|       SCAN|              Abrams|     GC|      Cowley|110300130307|   1194.0| 37.1313|  -97.0859|        -6.0|    31337| ABRK1|2004-06-21 00:00:...|2100-01-01 00:00:...|POINT (-97.0859 3...|
|06110500:MT:BOR| 06110500|       MT|        BOR|         Ackley Lake|     MT|Judith Basin|100401030202|   4300.0|46.95741|-109.94062|         NaN|      NaN|   NaN|1938-06-01 00:00:...|2100-01-01 00:00:...|POINT (-109.94062...|
|   2015:NM:SCAN|     2015|       NM|       SCAN|      Adams Ranch #1|     GC|     Lincoln|130600060201|   6175.0|   34.25|-105.41667|        -7.0|    19304| ADRN5|1993-10-25 00:00:...|2100-01-01 00:00:...|POINT (-105.41667...|
|  20H08:CA:SNOW|    20H08|       CA|       SNOW|      Adin Mountains|     OR|       Modoc|180200021403|   6190.0|41.23483|-120.79467|         NaN|      NaN| ADMC1|1930-04-01 00:00:...|2100-01-01 00:00:...|POINT (-120.79467...|
|    301:CA:SNTL|      301|       CA|       SNTL|            Adin Mtn|     OR|       Modoc|180200021403|   6190.0|41.23583|-120.79192|        -8.0|      NaN| ADMC1|1983-10-01 00:00:...|2100-01-01 00:00:...|POINT (-120.79192...|
|   2235:CA:SCAN|     2235|       CA|       SCAN|               Adobe|     GC|        Mono|180901010607|   6500.0|37.97787|-118.68626|        -8.0|      NaN|   NaN|2023-09-27 00:00:...|2100-01-01 00:00:...|POINT (-118.68626...|
|07007010:CO:BOR| 07007010|       CO|        BOR|Adobe Creek Reser...|     CO|       Kiowa|110200090303|   4150.0|38.26609|-103.24373|         NaN|      NaN|   NaN|1949-11-01 00:00:...|2100-01-01 00:00:...|POINT (-103.24373...|
|   0027:WY:COOP|     0027|       WY|       COOP|               Afton|     MT|     Lincoln|170401050205|   6210.0|42.73333|-110.93333|         NaN|      NaN| AFOW4|1909-10-01 00:00:...|2100-01-01 00:00:...|POINT (-110.93333...|
| 516700:MT:USGS|   516700|       MT|       USGS|Agency Crk ab Joc...|     MT|    Missoula|170102120705|   3725.0|47.12579| -113.9974|         NaN|      NaN|   NaN|1999-10-01 00:00:...|2100-01-01 00:00:...|POINT (-113.9974 ...|
|    AGP:CA:MSNT|      AGP|       CA|       MSNT|          Agnew Pass|     GC|      Madera|180400060401|   9450.0|  37.724|  -119.143|         NaN|      NaN|   NaN|1989-11-24 00:00:...|2100-01-01 00:00:...|POINT (-119.143 3...|
|    AGP:CA:SNOW|      AGP|       CA|       SNOW|          Agnew Pass|     UN|      Madera|180400060401|   9450.0|  37.724|  -119.143|         NaN|      NaN|   NaN|1930-04-01 00:00:...|2100-01-01 00:00:...|POINT (-119.143 3...|
|    907:UT:SNTL|      907|       UT|       SNTL|         Agua Canyon|     UT|        Kane|160300020301|   8900.0|37.52217|-112.27118|        -8.0|      NaN| AGUU1|1994-10-01 00:00:...|2100-01-01 00:00:...|POINT (-112.27118...|
+---------------+---------+---------+-----------+--------------------+-------+------------+------------+---------+--------+----------+------------+---------+------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [14]:
sedona.sql("SELECT COUNT(*) FROM stations WHERE networkCode = 'SNTL'").show()

+--------+
|count(1)|
+--------+
|     899|
+--------+

In [15]:
states = sedona.sql("SELECT distinct(stateCode) FROM stations WHERE networkCode = 'SNTL'").toPandas().values.tolist()
states = [x[0] for x in states]

In [16]:
states

['AZ', 'OR', 'WY', 'NV', 'ID', 'CA', 'MT', 'WA', 'NM', 'CO', 'AK', 'UT', 'SD']

## Data

parameters

* `beginDate` - yyyy-MM-dd HH:mm
* `centralTendencyType` - MEDIAN
* `duration` - DAILY
* `elements` - PREC, WTEQ, SMS:*, PREC::2
* `endDate` - yyyy-MM-dd HH:mm
* `stationTriplets` - *:*:*

In [57]:
prev_day = datetime.now() - timedelta(1)
most_recent_date = prev_day.strftime("%Y-%m-%d")
most_recent_date

'2024-03-28'

In [61]:
station_data = []
for state in states:
    payload = {
        'beginDate': f"{most_recent_date}",
        'endDate': f"{most_recent_date}",
        'centralTendencyType': 'MEDIAN',
        'duration': 'DAILY',
        'elements': 'WTEQ',
        'stationTriplets': f"*:{state}:SNTL"
    }
    r = requests.get(baseurl + 'services/v1/data', params=payload)
    station_data = station_data + r.json()

In [18]:
len(station_data)

855

In [19]:
df = pd.DataFrame(station_data)

In [20]:
df

    stationTriplet                                               data
0      308:AZ:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
1     1140:AZ:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
2      310:AZ:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
3     1212:AZ:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
4      902:AZ:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
..             ...                                                ...
850   1164:UT:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
851   1228:UT:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
852   1197:UT:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
853    354:SD:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...
854    920:SD:SNTL  [{'stationElement': {'elementCode': 'WTEQ', 'o...

[855 rows x 2 columns]

In [21]:
data_list = [(station['stationTriplet'], station['data'][0]['values'][0]['value'], station['data'][0]['values'][0].get('median'), station['data'][0]['values'][0]['date']) for station in station_data]

In [22]:
df = pd.DataFrame(data_list, columns=['station', 'value', 'median', 'date'])

In [23]:
df

          station  value  median        date
0     308:AZ:SNTL    5.8     0.0  2024-03-26
1    1140:AZ:SNTL   19.4    11.7  2024-03-26
2     310:AZ:SNTL    6.6     2.2  2024-03-26
3    1212:AZ:SNTL    1.0     NaN  2024-03-26
4     902:AZ:SNTL    0.4     0.0  2024-03-26
..            ...    ...     ...         ...
850  1164:UT:SNTL   19.4     NaN  2024-03-26
851  1228:UT:SNTL   11.5     NaN  2024-03-26
852  1197:UT:SNTL   12.2     NaN  2024-03-26
853   354:SD:SNTL    0.2     6.8  2024-03-26
854   920:SD:SNTL    5.1     6.6  2024-03-26

[855 rows x 4 columns]

In [24]:
data_df = sedona.createDataFrame(df)

In [25]:
data_df.show()

+------------+-----+------+----------+
|     station|value|median|      date|
+------------+-----+------+----------+
| 308:AZ:SNTL|  5.8|   0.0|2024-03-26|
|1140:AZ:SNTL| 19.4|  11.7|2024-03-26|
| 310:AZ:SNTL|  6.6|   2.2|2024-03-26|
|1212:AZ:SNTL|  1.0|   NaN|2024-03-26|
| 902:AZ:SNTL|  0.4|   0.0|2024-03-26|
|1143:AZ:SNTL| 12.3|   3.7|2024-03-26|
|1139:AZ:SNTL|  0.7|   0.0|2024-03-26|
| 416:AZ:SNTL|  1.4|   0.0|2024-03-26|
|1121:AZ:SNTL|  0.9|   0.0|2024-03-26|
| 488:AZ:SNTL|  6.1|   0.0|2024-03-26|
| 511:AZ:SNTL| 11.7|   5.0|2024-03-26|
| 969:AZ:SNTL|  8.6|   2.1|2024-03-26|
|1271:AZ:SNTL| 17.2|   NaN|2024-03-26|
| 519:AZ:SNTL|  2.2|   0.0|2024-03-26|
| 617:AZ:SNTL|  7.9|   4.2|2024-03-26|
| 640:AZ:SNTL|  4.4|   0.4|2024-03-26|
|1125:AZ:SNTL| 10.7|   7.2|2024-03-26|
|1127:AZ:SNTL|  0.8|   0.0|2024-03-26|
| 705:AZ:SNTL|  7.4|   3.9|2024-03-26|
| 927:AZ:SNTL| 22.2|  14.4|2024-03-26|
+------------+-----+------+----------+
only showing top 20 rows

In [26]:
data_df.createOrReplaceTempView('snotel_data')

In [27]:
## Join Daily Observations 


snotel_data_df = sedona.sql("""
SELECT *, (value / median) AS pct_median
FROM stations
JOIN snotel_data 
WHERE snotel_data.station = stations.stationTriplet
""")

In [28]:
snotel_data_df.createOrReplaceTempView("snotel_data")

In [29]:
snotel_data_df.count()

855

In [30]:
snotel_data_df.show()

+--------------+---------+---------+-----------+-------------------+-------+----------+------------+---------+--------+----------+------------+---------+------+--------------------+--------------------+--------------------+------------+-----+------+----------+------------------+
|stationTriplet|stationId|stateCode|networkCode|               name|dcoCode|countyName|         huc|elevation|latitude| longitude|dataTimeZone|pedonCode|shefId|           beginDate|             endDate|            geometry|     station|value|median|      date|        pct_median|
+--------------+---------+---------+-----------+-------------------+-------+----------+------------+---------+--------+----------+------------+---------+------+--------------------+--------------------+--------------------+------------+-----+------+----------+------------------+
|   732:WY:SNTL|      732|       WY|       SNTL|       Sandstone RS|     CO|    Carbon|140500030208|   8152.0|41.11179|-107.17043|        -8.0|      NaN| SRSW4|1984-10-01 00:00:...|2100-01-01 00:00:...|POINT (-107.17043...| 732:WY:SNTL| 17.7|  12.2|2024-03-26|1.4508196721311475|
|   616:WY:SNTL|      616|       WY|       SNTL|          Marquette|     MT|      Park|100800130303|   8760.0| 44.3016|-109.24019|        -8.0|      NaN| MRQW4|1979-10-01 00:00:...|2100-01-01 00:00:...|POINT (-109.24019...| 616:WY:SNTL| 11.5|   6.6|2024-03-26|1.7424242424242424|
|   826:WY:SNTL|      826|       WY|       SNTL|     Townsend Creek|     MT|   Fremont|100800030203|   8700.0|42.69525|-108.89572|        -8.0|    52447| TWNW4|1979-10-01 00:00:...|2100-01-01 00:00:...|POINT (-108.89572...| 826:WY:SNTL|  9.5|   8.2|2024-03-26|1.1585365853658538|
|   807:WY:SNTL|      807|       WY|       SNTL|        Sylvan Road|     MT|      Park|100800120103|   7120.0|44.47825|-110.03808|        -8.0|      NaN| SYRW4|1986-10-01 00:00:...|2100-01-01 00:00:...|POINT (-110.03808...| 807:WY:SNTL|  7.5|  11.2|2024-03-26|0.6696428571428572|
|   730:WY:SNTL|      730|       WY|       SNTL|  Salt River Summit|     ID|   Lincoln|170401050101|   7640.0| 42.5075| -110.9099|        -8.0|    55508| SLTW4|1959-10-01 00:00:...|2100-01-01 00:00:...|POINT (-110.9099 ...| 730:WY:SNTL| 15.0|  12.9|2024-03-26|1.1627906976744187|
|  1132:WY:SNTL|     1132|       WY|       SNTL|       Soldier Park|     MT|   Johnson|100902060103|   8720.0|44.34847| -107.0136|        -8.0|    52449| SLDW4|2010-08-06 00:00:...|2100-01-01 00:00:...|POINT (-107.0136 ...|1132:WY:SNTL|  3.6|   6.4|2024-03-26|            0.5625|
|   859:WY:SNTL|      859|       WY|       SNTL|       Whiskey Park|     CO|    Carbon|140500030102|   9020.0|41.00368|-106.90795|        -8.0|      NaN| WPKW4|1985-10-01 00:00:...|2100-01-01 00:00:...|POINT (-106.90795...| 859:WY:SNTL| 29.6|  24.9|2024-03-26|1.1887550200803214|
|  1134:WY:SNTL|     1134|       WY|       SNTL|       Larsen Creek|     ID|  Sublette|101800060101|   9000.0| 42.5801| -109.0883|        -8.0|    59432| LCRW4|2010-08-04 00:00:...|2100-01-01 00:00:...|POINT (-109.0883 ...|1134:WY:SNTL|  8.0|  10.6|2024-03-26|0.7547169811320755|
|   373:NV:SNTL|      373|       NV|       SNTL|     Buckskin Lower|     UT|  Humboldt|160401090502|   6930.0|41.75067|-117.53182|        -8.0|      NaN| BKLN2|1980-10-01 00:00:...|2100-01-01 00:00:...|POINT (-117.53182...| 373:NV:SNTL| 12.2|   9.2|2024-03-26|1.3260869565217392|
|   577:WY:SNTL|      577|       WY|       SNTL|  Lewis Lake Divide|     ID|     Teton|170401010104|   7850.0|44.20862|-110.66628|        -8.0|    71939| LWSW4|1963-09-01 00:00:...|2100-01-01 00:00:...|POINT (-110.66628...| 577:WY:SNTL| 29.7|  29.4|2024-03-26|1.0102040816326532|
|   868:WY:SNTL|      868|       WY|       SNTL|       Willow Creek|     ID|   Lincoln|170401050204|   8080.0|42.81513|-110.83515|        -8.0|      NaN| WILW4|1979-10-01 00:00:...|2100-01-01 00:00:...|POINT (-110.83515...| 868:WY:SNTL| 32.1|  28.4|2024-03-26|1.1302816901408452|
|  1243:NV:SNTL|     1243|       NV|       SNTL|          Dry Creek|     UT|      Elko|160401010601|   6555.0| 40.8638|-115.22014|        -8.0|      NaN| DRKN2|2013-10-01 00:00:...|2100-01-01 00:00:...|POINT (-115.22014...|1243:NV:SNTL|  7.8|   NaN|2024-03-26|               NaN|
|   544:WY:SNTL|      544|       WY|       SNTL|       Indian Creek|     ID|   Lincoln|140401070502|   9425.0|42.30023|-110.67753|        -8.0|      NaN| INCW4|1979-10-01 00:00:...|2100-01-01 00:00:...|POINT (-110.67753...| 544:WY:SNTL| 21.5|  22.2|2024-03-26|0.9684684684684685|
|   571:WY:SNTL|      571|       WY|       SNTL|      Laprele Creek|     CO|  Converse|101800071201|   8390.0|42.43566|-105.86051|        -8.0|      NaN| LPPW4|1978-10-01 00:00:...|2100-01-01 00:00:...|POINT (-105.86051...| 571:WY:SNTL|  6.8|   9.1|2024-03-26|0.7472527472527473|
|   625:WY:SNTL|      625|       WY|       SNTL|      Middle Powder|     MT|  Washakie|100800080205|   7760.0|43.62728|-107.18138|        -8.0|      NaN| MDDW4|1978-10-01 00:00:...|2100-01-01 00:00:...|POINT (-107.18138...| 625:WY:SNTL|  5.2|   9.8|2024-03-26|0.5306122448979592|
|   321:NV:SNTL|      321|       NV|       SNTL|         Bear Creek|     ID|      Elko|170501020301|   8040.0|41.83384|-115.45278|        -8.0|      NaN| BERN2|1976-03-01 00:00:...|2100-01-01 00:00:...|POINT (-115.45278...| 321:NV:SNTL| 22.4|  17.6|2024-03-26|1.2727272727272725|
|   764:WY:SNTL|      764|       WY|       SNTL|Snake River Station|     ID|     Teton|170401010402|   6920.0|44.13361|-110.66917|        -8.0|    55510| SKRW4|1989-10-01 00:00:...|2100-01-01 00:00:...|POINT (-110.66917...| 764:WY:SNTL| 15.6|  16.6|2024-03-26|0.9397590361445782|
|   689:WY:SNTL|      689|       WY|       SNTL|     Phillips Bench|     ID|     Teton|170401030504|   8200.0|43.51687|-110.91258|        -8.0|      NaN| PHBW4|1976-03-01 00:00:...|2100-01-01 00:00:...|POINT (-110.91258...| 689:WY:SNTL| 23.3|  25.2|2024-03-26|0.9246031746031746|
|   337:NV:SNTL|      337|       NV|       SNTL|      Big Creek Sum|     UT|    Lander|160401070303|   8685.0|39.29148|-117.11506|        -8.0|      NaN| BCSN2|1980-10-01 00:00:...|2100-01-01 00:00:...|POINT (-117.11506...| 337:NV:SNTL| 18.8|  15.9|2024-03-26|1.1823899371069182|
|   417:NV:SNTL|      417|       NV|       SNTL|      Corral Canyon|     UT|      Elko|160401030401|   8445.0|40.27551|-115.54017|        -8.0|      NaN| COLN2|1978-10-01 00:00:...|2100-01-01 00:00:...|POINT (-115.54017...| 417:NV:SNTL| 19.7|  14.6|2024-03-26|1.3493150684931507|
+--------------+---------+---------+-----------+-------------------+-------+----------+------------+---------+--------+----------+------------+---------+------+--------------------+--------------------+--------------------+------------+-----+------+----------+------------------+
only showing top 20 rows

In [59]:
SedonaKepler.create_map(snotel_data_df, name="SNOTEL data")

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

/opt/conda/lib/python3.10/site-packages/jupyter_client/session.py:719: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

KeplerGl(data={'SNOTEL data': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,…

## Watershed - Spatial Join

In [32]:
# TODO: load geojson, spatial join, calculate

In [33]:
WATERSHED_URI = "s3://wherobots-examples/data/examples/usgs/watershed_boundaries_huc6.geojson"

In [34]:
watershed_df = sedona.read.format("geojson").option("multiLine", "true").load(WATERSHED_URI).selectExpr("explode(features) AS features").select("features.*").withColumn("huc6", expr("properties['huc6']")).withColumn("name", expr("properties['name']")).withColumn("states", expr("properties['states']")).drop("properties").drop("type")

In [35]:
watershed_df.show()

+--------------------+------+--------------------+--------+
|            geometry|  huc6|                name|  states|
+--------------------+------+--------------------+--------+
|MULTIPOLYGON (((-...|050902|Middle Ohio-Littl...|IN,KY,OH|
|MULTIPOLYGON (((-...|030201|             Pamlico|      NC|
|MULTIPOLYGON (((-...|031501|    Coosa-Tallapoosa|AL,GA,TN|
|MULTIPOLYGON (((-...|050800|         Great Miami|   IN,OH|
|MULTIPOLYGON (((-...|051201|              Wabash|IL,IN,OH|
|MULTIPOLYGON (((-...|031403|            Escambia|   AL,FL|
|MULTIPOLYGON (((-...|051202|        Patoka-White|      IN|
|MULTIPOLYGON (((-...|111402|          Red-Saline|AR,LA,TX|
|MULTIPOLYGON (((-...|080702|       Lake Maurepas|   LA,MS|
|MULTIPOLYGON (((-...|080902|  Lake Pontchartrain|   LA,MS|
|MULTIPOLYGON (((-...|120402|Galveston Bay-Sab...|   LA,TX|
|MULTIPOLYGON (((-...|121004|Central Texas Coa...|      TX|
|MULTIPOLYGON (((-...|010600|                Saco|MA,ME,NH|
|MULTIPOLYGON (((-...|140200|            Gunnison|      CO|
|MULTIPOLYGON (((-...|051402|          Lower Ohio|IL,IN,KY|
|MULTIPOLYGON (((-...|051401|     Lower Ohio-Salt|   IN,KY|
|MULTIPOLYGON (((-...|080302|               Yazoo|LA,MS,TN|
|MULTIPOLYGON (((-...|090100|              Souris|   CN,ND|
|MULTIPOLYGON (((-...|031800|               Pearl|   LA,MS|
|MULTIPOLYGON (((-...|080703|         Lower Grand|      LA|
+--------------------+------+--------------------+--------+
only showing top 20 rows

In [36]:
watershed_df.printSchema()

root
 |-- geometry: geometry (nullable = true)
 |-- huc6: string (nullable = true)
 |-- name: string (nullable = true)
 |-- states: string (nullable = true)

In [37]:
watershed_df.createOrReplaceTempView("watersheds")

### Spatial Join - SNOTEL data to Watersheds

In [45]:
snotel_sheds_df = sedona.sql("""
SELECT any_value(watersheds.name) AS name, any_value(states) AS states, any_value(watersheds.geometry) AS geometry, avg(pct_median) AS pct_median, cast(any_value(date) as date) AS date
FROM watersheds, snotel_data
WHERE ST_Contains(watersheds.geometry, snotel_data.geometry) AND snotel_data.pct_median IS NOT null AND NOT isnan(pct_median)
GROUP BY huc6
""")

In [46]:
snotel_sheds_df.show()

+--------------------+--------+--------------------+------------------+----------+
|                name|  states|            geometry|        pct_median|      date|
+--------------------+--------+--------------------+------------------+----------+
|         Musselshell|      MT|MULTIPOLYGON (((-...|0.7634408602150536|2024-03-26|
|      Upper Arkansas|CO,KS,NM|MULTIPOLYGON (((-...|1.4231765640047376|2024-03-26|
|      Upper San Juan|AZ,CO,NM|MULTIPOLYGON (((-...|10.034949087541728|2024-03-26|
|     Little Colorado|   AZ,NM|MULTIPOLYGON (((-...|3.7850427350427345|2024-03-26|
|            Knik Arm|      AK|MULTIPOLYGON (((-...|1.2429124016080537|2024-03-26|
| Missouri Headwaters|ID,MT,WY|MULTIPOLYGON (((-...|0.8123762185493943|2024-03-26|
|        North Platte|CO,NE,WY|MULTIPOLYGON (((-...|0.9679540180633677|2024-03-26|
|        South Platte|CO,NE,WY|MULTIPOLYGON (((-...|1.2160896318379228|2024-03-26|
|Rio Grande Headwa...|   CO,NM|MULTIPOLYGON (((-...|1.2062122880581183|2024-03-26|
|               Verde|      AZ|MULTIPOLYGON (((-...|2.8766788766788762|2024-03-26|
|          Upper Bear|ID,UT,WY|MULTIPOLYGON (((-...|1.3316176470588235|2024-03-26|
|             Truckee|   CA,NV|MULTIPOLYGON (((-...|1.1249121966617743|2024-03-26|
|Central Nevada De...|   CA,NV|MULTIPOLYGON (((-...|1.7691282832127904|2024-03-26|
|            Kootenai|CN,ID,MT|MULTIPOLYGON (((-...|0.7380167592370195|2024-03-26|
|       Koyukuk River|      AK|MULTIPOLYGON (((-...|1.0161290322580645|2024-03-26|
|              Jordan|      UT|MULTIPOLYGON (((-...|1.2843370614034564|2024-03-26|
|              Carson|   CA,NV|MULTIPOLYGON (((-...|0.8904548698721629|2024-03-26|
|           Deschutes|      OR|MULTIPOLYGON (((-...| 1.100398798599606|2024-03-26|
|      Lower Columbia|   OR,WA|MULTIPOLYGON (((-...|0.8084072686905978|2024-03-26|
|          Lower Bear|   ID,UT|MULTIPOLYGON (((-...|1.2935811667311496|2024-03-26|
+--------------------+--------+--------------------+------------------+----------+
only showing top 20 rows

In [47]:
snotel_sheds_df.printSchema()

root
 |-- name: string (nullable = true)
 |-- states: string (nullable = true)
 |-- geometry: geometry (nullable = true)
 |-- pct_median: double (nullable = true)
 |-- date: date (nullable = true)

In [43]:
SedonaKepler.create_map(snotel_sheds_df)

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'unnamed': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,…

## Export Data

* write to geoparquet, write to havasu table

In [62]:
USER_S3_PATH = os.environ.get("USER_S3_PATH")

In [64]:
snotel_sheds_df.repartition(1).write.mode("overwrite").format("geoparquet").save(USER_S3_PATH + "snotelsheds/snotel.parquet")

In [66]:
sedona.sql("CREATE NAMESPACE IF NOT EXISTS wherobots.watersheds")
sedona.sql("DROP TABLE IF EXISTS wherobots.watersheds.snotelsheds")
snotel_sheds_df.writeTo("wherobots.watersheds.snotelsheds").create()

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.